body.arabic {
	direction: rtl;
}

:root {
	--accent1: #006ffb;
	--accent2: #64e8a4;
	--gray: #f2f2f2;
	--main: #011f46;
	--white: #fff;
	--blue: #f2f8ff;
}


@media (prefers-color-scheme: light) {
	body {
		background: var(--white);
		color: var(--main);
	}

	.dropdown-list,
	.dropdown-list.w--open,
	.features-wrapper,
	.partners-wrapper,
	.forms-wrapper {
		background-color: var(--blue);
	}

	.features-wrapper {
		background-blend-mode: soft-light;
	}
}

html.w-mod-touch .gradient-text {
	background-attachment: initial !important;
}

.gradient-text {
	background-attachment: inherit !important;
	background-clip: text;
	-webkit-background-clip: text;
	background-image: linear-gradient(45deg, #006ffb, #64e8a4);
	box-decoration-break: clone;
	-webkit-font-smoothing: antialiased;
	-webkit-text-fill-color: transparent;
}

.faq-question::before {
	position: absolute;
	top: 0;
	inset-inline-start: -48px;
	width: 27px;
	min-width: 27px;
	height: 27px;
	background: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/622f50f0a445e529a1ef5830_Ellipse%20420.svg'), var(--gray);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 11px;
	border-radius: 50%;
	content: '';
	transition: all 0.3s ease;
}


@media (prefers-color-scheme: light) and (max-width: 991px) {
	.dropdown-list.w-dropdown-list {
		background-color: transparent !important;
	}
}

.faq-item.active .faq-question::before {
	background: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/622f50f0a445e529a1ef5830_Ellipse%20420.svg'), linear-gradient(var(--accent1) 20.11%, var(--accent2) 94.11%);
	background: radial-gradient(circle closest-side, #fff 4px, transparent 5px), linear-gradient(92deg, #006ffb 20%, #64e8a4 94%);
	background-position: center;
	background-repeat: no-repeat;
	transition: all 0.3s ease;
}

.faq-item.active .faq-question {
	color: var(--accent1);
}

.benefits-list .faq-item:first-child {
	margin-top: 0;
}

.benefits-video_inner {
	pointer-events: none;
}

.benefits-video_inner {
	position: absolute;
	top: 0;
	inset-inline-end: 0px;
	height: 0;
	padding-bottom: 56.25%;
}

.benefits-video_inner iframe {
	position: absolute;
}

.cost-list_wrapper {
	overflow-x: auto;
}

.cost-list_add::after,
.cost-list_add::before {
	position: relative;
	width: 30px;
	min-width: 30px;
	height: 30px;
	content: '';
}

/* для хрома */
::-webkit-scrollbar-track {
	background: var(--accent1);
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

::-webkit-scrollbar-thumb {
	background: var(--accent2);
}

/* для мозилы */
html,
.cost-list_wrapper {
	scrollbar-color: var(--accent1) var(--accent2); /*  «цвет полосы скроллбара» */
	scrollbar-width: thin; /* толщина */
}
.radio-button {
padding-inline-start: 25px;
}
.checkbox-field{
	    padding-inline-start: 30px;
}
.form-checkbox + .form-checkbox-text::before {
	position: absolute;
	top: -1px;
	inset-inline-start: -30px;
	width: 20px;
	min-width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	content: '';
}

.form-checkbox:checked + .form-checkbox-text::before {
	background: #fff url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/62304996a2891e72e9050284_Arrow%205%20(1).svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 11px;
}

.radio + .form-radio_text::before {
	position: absolute;
	top: -3px;
	inset-inline-start: -25px;
	width: 20px;
	min-width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
	content: '';
}

.radio:checked + .form-radio_text::before {
	background: radial-gradient(circle closest-side, var(--accent1) 4px, white 5px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
}

.footer-phone::before {
	position: absolute;
	inset-inline-start: 0px;
	width: 13px;
	height: 13px;
	background: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/62305bf33a3882227ed654a6_Vector%20(3).svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '';
}

.finance-list_step:first-child {
	margin-top: 0;
}

.finance-list_step.active .finance-list_step-box-number {
	background: var(--accent2);
}

.finance-list_step.active .finance-list_step-number {
	color: #fff;
}

.finance-list_step.active .finance-list_step-description {
	color: var(--accent2);
}

.radio:checked + .form-radio_text {
	color: #fff;
	transition: all 0.3s ease;
}


.burger-line {
	background-color: currentColor;
}
.burger-line::before,
.burger-line::after {
	position: absolute;
	inset-inline-start: 0px;
	width: 100%;
	height: 3px;
	background: currentColor;
	border-radius: 25px;
	content: '';
	transition: all 0.3s ease;
}

.burger-line::before {
	top: -10px;
}

.burger-line::after {
	bottom: -10px;
}

.icon::before {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/6231a232821b1071bf7e1af7_Vector%20436.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	content: '' !important;
}

.gradient-circle {
	background: radial-gradient(circle closest-side, #fff 4px, transparent 5px), linear-gradient(92deg, #006ffb 20%, #64e8a4 94%);
}

.form-cards_link {
	overflow: hidden;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.finance-img-wrp.big.active .big-logo {
	filter: brightness(100);
}

.finance-img-wrp.active .big-lottie {
	filter: brightness(0) invert(100) !important;
}

.arrow-horizontal.active .arrow-vertical_number,
.arrow-vertical.active .arrow-vertical_number {
	background: var(--accent2);
	color: #fff;
}

.arrow-horizontal.active.left {
	background-image: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/6231d7b4af9ff12a08ce8b59_Arrow%206%20(9).svg');
}

.arrow-horizontal.active.right {
	background-image: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/6231dd56dd5cefebf7baae55_Arrow%206%20(12).svg');
}

.arrow-vertical.active.down {
	background-image: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/6231d7b3c39ca2df6c4897f2_Arrow%206%20(8).svg');
}

.arrow-vertical.active.top {
	background-image: url('https://uploads-ssl.webflow.com/622f19ee4fc23007afdf1be3/6231d7b3de0108b7818f1285_Arrow%206%20(10).svg');
}

.btn-absolute.w--open + .burger .burger-line {
	background: transparent;
	transition: all 0.3s ease;
}

.btn-absolute.w--open + .burger .burger-line::before,
.btn-absolute.w--open + .burger .burger-line::after {
	transition: all 0.3s ease;
}

.btn-absolute.w--open + .burger .burger-line::before {
	top: 0;
	transform: rotate(45deg);
	transition: all 0.3s ease;
}

.btn-absolute.w--open + .burger .burger-line::after {
	bottom: 0;
	transform: rotate(-45deg);
	transition: all 0.3s ease;
}

.link-language {
	font-family: Poppins, sans-serif !important;
}

.box-for-video {
	grid-column-gap: 8%;
}

.faq-item-main.js--active .faq-question_arrow {
	transform: rotate(-180deg);
}

.field-for-btn .btn-wrp.mt0 {
	margin-top: 45px;
}
.w-container::before,
.w-container::after {
	content: none;
}

.nav-link.drop {
	margin-inline-end: 13px;
}

.menu-button,
.footer-bottom_nav {
	margin-inline-start: auto;
}

.finance-list_line {
    inset-inline-start: 44px;
}

body.arabic .arrow-horizontal {
	transform: rotateY(180deg);
}

body.arabic .arrow-horizontal .arrow-vertical_number {
	transform: rotateY(180deg);
}
.w-webflow-badge{
    display: none !important;
}
  .wg-drop.country-selector .wgcurrent{
    display: none;
}

  .wg-drop.country-selector ul,
  .wg-drop.country-selector.closed ul{
    display: flex !important;
    position: relative !important;
   }
   .wg-drop.country-selector a{
    padding: 0 !important;
    height: auto !important;
    font-weight: 600;
    font-size: 12px !important;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--accent1) !important;
}
.wg-drop.country-selector ul{
    border: none !important;
    overflow: visible !important;
}
.wg-default.weglot-container--left,
.wg-default.weglot-container--left .country-selector{
inset-inline-start: 0 !important;
height: 0 !important;
}
.wg-default, .wg-default .country-selector {
    position: relative !important;
}
.w-dropdown,
.nav-link_drop {
    text-align: inherit !important;
}
.nav-btns{
	margin-inline-start: auto;
}

@media screen and (min-width: 1280px) {
	.dropdown-lang {
		margin-inline-end: 54px;
	}
}

@media screen and (max-width: 991px) {
	.w-nav-overlay {
		top: -20px !important;
		inset-inline-end: -30px;
		inset-inline-start: auto;
		width: 375px !important;
		height: 100vh !important;
	}
	.nav-menu {
		overflow: auto;
		max-height: 100vh;
	}
	.nav-menu {
		width: 100%;
		min-width: 100% !important;
		height: max-content !important;
		flex-direction: column;
		align-items: flex-start;

	}

	[data-nav-menu-open] {
		display: flex !important;
	}

	.nav-link.drop {
		margin-inline-end: 0;
	}

	body.arabic .nav-menu {
		box-shadow: inset -2px 0 10px 0 rgb(0 0 0 / 20%);
	}
	.wg-drop.country-selector a{
        font-size: 18px !important;
    }
    .wg-drop.country-selector a{
		left: auto;
    	right: auto;
		inset-inline-end: -30px;
    }
	.nav-menu.w-nav-menu{
        right: auto;
        left: auto;
		inset-inline-end: 0px;
    }
  .nav-link_drop{
      text-align: initial !important;
  }
	.w-nav-overlay{
        right: auto;
        left: auto;
		inset-inline-end: -30px;
	}
}

@media screen and (max-width: 767px) {
	.finance-list_line {
		inset-inline-start: 34px;
	}
	.w-nav-overlay {
		inset-inline-end: -15px;

	}
}

@media screen and (max-width: 478px) {
	.w-nav-overlay {
		width: calc(100% + 30px) !important;
	}
}

@media screen and (max-width: 370px) {
	.nav-link_drop,
	.nav-link {
		font-size: 1.5rem !important;
	}

	.drop-logo {
		column-gap: 15px;
	}
}
