.pagination-container .fs-pagination ul {
	display: flex;
	column-gap: 5px;
}

.pagination-container .fs-pagination ul li a {
	display: flex;
	min-width: 56px;
	height: 56px;
	align-items: center;
	justify-content: center;
	padding: 10px 23px;
	border: none !important;
	border-radius: 10px !important;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 100%;
	text-decoration: none;
	transition: all 0.3s ease;
}

.pagination-container .fs-pagination ul li a:hover {
	background-color: #64e8a4;
	color: #fff !important;
	transition: all 0.3s ease;
}

.fs-pagination ul li.fs-pagination-active a:hover {
	background-color: #64e8a4;
	color: #fff;
	transition: all 0.3s ease;
}




